<form action = 'https://www.google.co.kr/search'>
    <h1>구글검색</h1>
    <input type ='text' name = 'q'>
    <input type = 'submit'>
</form>

<form action = 'https://search.naver.com/search.naver'>
    <h1>네이버검색</h1>
    <input type ='text' name = 'query'>
    <input type = 'submit'>
</form>

<form action = 'https://search.daum.net/search'>
    <h1>다음검색</h1>
    <input type ='text' name = 'q'>
    <input type = 'submit'>
</form>